.ic-Dashboard-header__layout {
    background-color: var(--primaryDark)  !important
}

#right-side-wrapper {
    background-color: var(--secondaryDark) !important;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {
    background: var(--tertiaryDark)  !important;
}

.ic-DashboardCard__header_content  {
    background-color: var(--tertiaryDark) !important;
}

.ic-DashboardCard {
    background-color: var(--tertiaryDark) !important;
}

.Underline-All-Links__enabled a:not(.Button):not(.ui-button):not(.btn):not(.ui-button):not(.ui-tabs-anchor) {
    text-decoration: none !important;

}



.Button {
    color: var(--primaryTextColor);
    background-color: var(--secondaryDark) !important;
}

.conversations .panel { 
    background-color: var(--primaryDark) !important;
}

.item-group-condensed .ig-row { 
    background: var(--tertiaryDark) !important;
}

.item-group-container {

    background: var(--secondaryDark) !important;
}

.item-group-condensed .ig-header {
    background: var(--quaternaryDark) !important;
}

.ig-header .name {
    color: var(--lowWhite) !important
}

.header-bar {
    background-color: var(--primaryDark) !important;
}

#breadcrumbs {
    background-color: var(--primaryDark) !important;
}

.ig-list .ig-row:hover {
    background-color: var(--darkSelection) !important;

}

.btn {
    background-color: var(--secondaryDark) !important;
    color: var(--lowWhite) !important;
}

.ic-DashboardCard__header-title {
    font-size: large !important;
}

.ToDoSidebarItem {
    border-bottom: 1px solid var(--quaternaryDark) !important;
}

#right-side .right-side-list li em, #right-side .right-side-list li p {
    color: var(--lowWhite) !important;
}

.ui-tabs .ui-tabs-panel {
    background-color: var(--secondaryDark) !important;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: var(--tertiaryDark) !important;
}

span.fOyUs_bGBk.fOyUs_desw.bDzpk_bGBk.bDzpk_busO.bDzpk_fZWR.bDzpk_qOas {
    background-color: var(--secondaryDark) !important;
    }

.qBMHb_cwos, input[type].qBMHb_cwos {
    color: var(--lowWhite)  !important
}

.pinned-discussions-v2__wrapper, .unpinned-discussions-v2__wrapper { 
    background-color: var(--secondaryDark) !important;
}

.discussions-v2__container-image {

    background-color: var(--secondaryDark) !important;
}

.closed-for-comments-discussions-v2__wrapper {
    background-color: var(--secondaryDark) !important;
}

.dropdown-menu {
    background-color: var(--secondaryDark) !important;
}

#minical {
background-color: var(--secondaryDark) !important;

}

#minical .fc-toolbar h2, #minical .fc-toolbar .h2 {
color: var(--primaryTextColor) !important

}

#minical .fc-widget-content {
color: var(--lowWhite) !important

}


#calendar-list-holder, #other-calendars-list-holder, #undated-events {
    background-color: var(--secondaryDark) !important;
}

#calendars-context-list .context_list_context:hover, #other-calendars-context-list .context_list_context:hover {
    background-color: var(--darkSelection) !important;

}

#calendar-app .fc-month-view .fc-today, #calendar-drag-and-drop-container .fc-month-view .fc-today {
    background-color: var(--secondaryDark) !important;
    
    }
    
    #calendar-app .fc-event, #calendar-drag-and-drop-container .fc-event {
        background-color: var(--tertiaryDark) !important;
    
    }
    
    .assignment-student-header {
    
        background-color: var(--primaryDark) !important;
    }
    
    #assignments-student-footer {
        background-color: var(--primaryDark) !important;
    }

    .accessible-toggler {
        color: var(--primaryTextColor)

    }

    .accessible-toggler:hover, .accessible-toggler:focus { 
        color: var(--lowWhite)
    }